body{
 background-color: rgb(233, 226, 129);   
font-family: Emilys Candy;
}
header{
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: dotted;
}
.top1{
    text-align: center;
    background-color:rgb(236, 235, 137) ;
    padding-bottom: 40px;
}
